opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
streamlit==1.37.1
llama-index==0.10.65
llama-index-llms-ollama==0.2.2
llama-index-embeddings-ollama==0.2.0
unstructured
unstructured[pdf]